:host {
  display: block;
  width: 260px;
  min-width: 240px;
  background: #ffffff;
  border-right: 1px solid #e0e0e0;
  height: 100%;
  overflow-y: auto;
}

.sidebar-list a {
  display: flex;
  align-items: center;
  color: #222;
}

.sidebar-list mat-icon {
  margin-right: 12px;
  color: #616161;
}
