.layout-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: #f6f7f8;
}

.layout-body {
  display: flex;
  flex: 1;
  margin-top: 56px; 
  overflow: hidden;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}
